body{
/*   background:pink; */
}

form table tr{
  vertical-align:top;
}
form table tr th{
  text-align:right;
  vertical-align: middle;
}
form table td{
  padding:5px;
  vertical-align: middle;
}
form input, form textarea{
  border: thin solid grey;
  margin: 2px 0px;
}

form table textarea{
  height: 5em;
  width: 50vw;
}