{% extends "core/base.html" %}
{% load static %}
{% block main %}
    <div class="w-full h-full flex items-center justify-center">
        <form method="POST" class="solo_form">
            <div class="flex font-bold justify-center mt-6">
                <img class="h-20 w-20 mb-3" src="{% static 'img/salon_icon.svg' %}" />
            </div>
            <div class="text-2xl">{{ view.title }}</div>
          <div class="text-xl text-green-600 font-bold">{{ view.date|date:'D, M d' }}
              - {{ view.period }} 
              ({{ view.period.start_time }} - {{ view.period.end_time }})
              
            </div>
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <input type="submit" value="Save Timeslot" class="w-full py-2 mt-4 rounded-full bg-blue-400 text-gray-100 focus:outline-none"/>
        </form>
    </div>
{% endblock main %}
